body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: goldenrod;
}

.list{
    list-style-type: none;
}

.footer{
height: 50px;
background-color: rgb(198, 17, 8);
color: white;
padding-top: 2%;

}
.footer p{
    margin: 0%;
}